# Backend URL
NEXT_PUBLIC_BASE_URL=

# Create a Postgres database
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Generate one with this command: openssl rand -base64 32
NEXTAUTH_SECRET=

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
